<div xmlns:th="http://www.thymeleaf.org">
	<section class="new_arrivals_area section-padding-80 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center">
                        <h2>Popular Products</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="popular-products-slides owl-carousel">

                        <!-- Single Product -->
                        <div class="single-product-wrapper" th:each="p: ${items}">
                            <!-- Product Image -->
                            <div class="product-img">
                                <img th:src="@{|/assets/images/product-img/${p.image}|}" alt="">
                                <!-- Hover Thumb -->
                                <img class="hover-img" src="/assets/images/product-img/product-2.jpg" alt="">
                                <!-- Favourite -->
                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>
                            <!-- Product Description -->
                            <div class="product-description">
                                <span>topshop</span>
                                <a href="single-product-details.html">
                                    <h6 th:utext="${p.name}"></h6>
                                </a>
                                <p class="product-price">$[[${p.price}]]</p>

                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <!-- Add to Cart -->
                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn" th:attr="ng-click=@{|cart.add(${p.id})|}">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
