<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>JAVA 6 Project</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	
	<!--Box Icon-->
	<!-- Favicon  -->
    <link rel="icon" href="/assets/images/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/assets/css/core-style.css">
    
</head>

<body ng-app="myApp" ng-controller="myCtrl">
	<div th:replace="/layout/_menu.html"></div>
    
	<!--  ------------Cart---------------------            -->
    <div class="small-container cart-page" th:fragment="shopping-cart">
        <table>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            <tr ng-repeat="item in cart.items">
                <td>
                    <div class="cart-info">
                        <img src="/assets/images/product-img/{{item.image}}">
                        <div>
                            <p>{{item.name}}</p>
                            <small>Price: ${{item.price|number:2}}</small>
                            <br>
                            <a href="" ng-click="cart.remove(item.id)">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input ng-change="cart.saveToLocalStorage()" ng-model="item.qty" type="number" value="1" min="1"></td>
                <td>${{item.qty*item.price|number:2}}</td>
            </tr>
            
            
        </table>

        <div class="total-price">
            <table>
                <tr>
                    <td class="total">Total:</td>
                    <td>${{cart.amount}}</td>
                    
                </tr>
                <tr>
                    <td><a href="#" class="btn" ng-click="cart.clear()">Xóa tất cả</a></td>
                    <td><a th:href="@{/order/checkout}" class="btn">Thanh toán</a></td>
                </tr>
            </table>
        </div>
    </div>
    
    <footer>
    	<div th:replace="/layout/_footer.html"></div>
    </footer>
	
	<!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/assets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/assets/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="/assets/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="/assets/js/active.js"></script>
    <script src="/assets/js/shopping-cart.js"></script>
</body>
</html>